* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  display: flex;
  background-image: linear-gradient(to top, rgb(112, 78, 207), rgb(194, 176, 242));

}

aside {
  color: rgb(201, 183, 229);
  font-size: 5vh;
  width: 25vw;
  height: 100vh;
  padding-top: 6vh;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(to top, rgb(17, 5, 55), rgb(56, 22, 156));
}

main {
  color:  rgb(37, 10, 116);
  font-size: 8vh;
  width: 50vw;
  height: 100vh;
  padding-top: 12vh;
  flex-direction: column;
  text-align: center;
}

section {
  width: 80%;
  height: 60%;
  margin: 10vh 0 0 5vw;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  overflow: hidden;
}

section div {
  padding-top: 3vh;
  outline: 3px solid rgb(37, 10, 116);
}

section div:last-child {
  grid-area: 3/3;
}



